$errorTextColor: #FE454E;
$navBackground: #65F1E9;
$sideNavBackgroundColor: #1E2C40;
$sideNavBackgroundColorLighter: #4A596F;
$primaryTextColor: black;
$secondayTextColor: white;
$sideNavTextColor: #FFCC6B;
