@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import "bootstrap-variable-override";

// TODO refactor css variables and share mixins between home and about

$textColor: black;
$linkColor: #FFCC6B;
$headerTextColorRed: #FD1F2A;
$header3TextColor: #3D8C93;

.about {
  width: 100%;
  overflow: visible; //FIX FOOTER'
  font-size: x-large;
  height: 100%;
}

h1{
  margin-top: 1em;
  color : $textColor;
  font-family: 'Titillium Web', sans-serif;
  border-bottom:0px;
}

h4{
  color: $header3TextColor;
  font-style: italic;
  border-bottom:0px;
  margin-top: 2em;
}

h2, h3{
  margin-top: 2em;
  color: $headerTextColorRed;
  border-bottom:0px;
  font-family: 'Titillium Web', sans-serif;
}

.lead {
  padding-top: 20px;
  padding-left: 5px;
  color: $textColor;
  font-family: 'Roboto', sans-serif;
  font-size: x-large;
}

#about-block1 {
  background-color: white;
  h1 {
    text-align: center;
  }

p {
  margin-top: 1em;
  color: $textColor;
  a {
    color: $linkColor;
    &:hover {
      color: $linkColor;
    }
  }
}

  margin-bottom: 1px;
}