$linkColor: #FFCC6B;

#footer {
  font-size: large;
  font-family: 'Graduate', cursive;
  //font-family: 'Titillium Web', sans-serif;
  background-color: #4A596F;
  width: 100%;
  margin-bottom: 0px;
  color :black;
  a {
    color: $linkColor;
    &:hover {
      color: $linkColor;
    }
  }
}
