@import "custom-variables";

$borderColor: #4A596F;

.nav-link a {
  color: white;
  font-weight: normal;
}

.nav-link a:hover{
  color: white;
  font-weight: bolder;
}

.navbar-custom {
//  background-color: #085456;
  //background-color: #47B784;
 // background-color: #328F94;
  //background-color: #24656B;
 // background-color: $navBackground;
  border-bottom: $borderColor solid 2px;

  .btn-light{
    border-color: $gray-500;
  }
  .login-btn{
    background-color: $borderColor;
  }
}

.toggle-button {
  background-color: $navBackground;
  border-width: 0px;
  margin-right: 10px;
}

/*
!* change the brand and text color *!
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgba(255,255,255,.8);
}
!* change the link color *!
.navbar-custom .navbar-nav .nav-link {
  color: rgba(255,255,255,.5);
}
!* change the color of active or hovered links *!
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #ffffff;
}*/