@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import "custom-variables";

.share-pane{
  height: 100%;
  width: 100%;
  color: $primaryTextColor;
}

h2{
  font-family: $primaryFont;
  color: $sideNavBackgroundColor;
}