//@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import "bootstrap-variable-override";
@import "custom-variables";
// @import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');    
@import url('https://fonts.googleapis.com/css?family=Graduate&text=DOCULET');
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Open+Sans|Roboto|Titillium+Web');
 // TODO REMOVE UNUSED
 @import url('https://fonts.googleapis.com/css?family=KoHo|PT+Sans+Caption|PT+Sans+Narrow|Roboto+Slab|Slabo+27px');

$header23TextColor: #FD1F2A;
$header4TextColor: #2E68DA;// #3D8C93;
$backgroundColor1: #3D8C93;
$backgroundColor2: #48CEC9;
$backgroundColor3: white;
$backgroundColor4: #FEFDD9;
$logoFont: 'Graduate', cursive;
$leadFont: 'KoHo', sans-serif;
$primaryFont: 'Titillium Web', sans-serif;

@mixin styleLead($leadTextColor) {
  padding-top: 30px;
  padding-left: 5px;
  color: $leadTextColor;
  font-family: $leadFont;
  font-size: xx-large;
  font-style: italic;
  font-weight: 600;
}

@mixin styleList($content) {
  list-style: none;
  li:before {
    content: $content;
  }
}

@mixin styleLink($linkTextColor) {
  a {
    color: $linkTextColor;
    &:hover {
      color: $linkTextColor;
    }
  }
}

h1, ul, li{
  color: $primaryTextColor;
  font-family: $primaryFont;
  font-size: x-large;
  border-bottom:0px;
}

h4{
  color: $header4TextColor;
  font-style: italic;
  border-bottom:0px;
  margin-top: 2em;
}

h2, h3{
  margin-top: 2em;
  color: $header23TextColor;
  border-bottom:0px;
  font-family: $primaryFont;
}

.lead {
  @include styleLead(black);
}

p {
  font-family: $primaryFont;
  font-size: x-large;
  margin-top: 1em;
  color: $primaryTextColor;
  @include styleLink($header23TextColor)
}

ul.features-done {
    @include styleList(' ✓  ');
}

ul {
  @include styleList(' ❏  ');
}

#home-container1 {
  h1 {
    text-align: center;
    font-family: $logoFont;
    font-size: xx-large;
    color: $secondayTextColor;
  }
  background-color: $backgroundColor1;
  background-image: url('https://www.dropbox.com/s/umvy4j4gx54f7c9/background5.jpg?raw=1');
  p {
    color: $secondayTextColor;
    @include styleLink($sideNavTextColor);
  }
  margin-bottom: 2px;
}

#home-container3 {
  background-color: $backgroundColor2;
  background-image: url('https://www.dropbox.com/s/fgkipvd9gmyybix/background9.png?raw=1');
  margin-bottom: 2px;
}

#home-container2{
  background-color: $backgroundColor3;
  margin-bottom: 2px;
}

#home-container4, #about-container {
  background-color: $backgroundColor4;
  background-image: url('https://www.dropbox.com/s/ju0cahdvdivi63l/background12.png?raw=1');
  margin-bottom: 2px;
}
