//@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import "bootstrap-variable-override";
// @import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');    
@import url('https://fonts.googleapis.com/css?family=Graduate&text=DOCULET');
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Open+Sans|Roboto|Titillium+Web'); // TODO REMOVE UNUSED

$header23TextColor: #FD1F2A;
$header4TextColor: #3D8C93;
$primaryTextColor: black;
$secondayTextColor: white;
$linkColor: #FFCC6B;
$backgroundColor1: #3D8C93;
$backgroundColor2: #48CEC9;
$backgroundColor3: white;
$logoFont: 'Graduate', cursive;
$leadFont: 'Roboto', sans-serif;
$primaryFont: 'Titillium Web', sans-serif;

@mixin styleLead($leadTextColor) {
  padding-top: 30px;
  padding-left: 5px;
  color: $leadTextColor;
  font-family: $leadFont;
  font-size: xx-large;
  font-style: italic;
}

@mixin styleList($content) {
  list-style: none;
  li:before {
    content: $content;
  }
}


h1, ul, li{
  color: $primaryTextColor;
  font-family: $primaryFont;
  font-size: x-large;
  border-bottom:0px;
}

h4{
  color: $header4TextColor;
  font-style: italic;
  border-bottom:0px;
  margin-top: 2em;
}

h2, h3{
  margin-top: 2em;
  color: $header23TextColor;
  border-bottom:0px;
  font-family: $primaryFont;
}

.lead {
  @include styleLead(black);
}

p {
  font-family: $primaryFont;
  font-size: x-large;
  margin-top: 1em;
  color: $primaryTextColor;
  a {
    color: $linkColor;
    &:hover {
      color: $linkColor;
    }
  }
}

ul.features-done {
    @include styleList(' ✓  ');
}

ul {
  @include styleList(' ❏  ');
}

#home-container1 {
  h1 {
    text-align: center;
    font-family: $logoFont;
    font-size: xx-large;
    color: $secondayTextColor;
  }
  background-color: $backgroundColor1;
  background-image: url('https://www.dropbox.com/s/umvy4j4gx54f7c9/background5.jpg?raw=1');
  p {
    color: $secondayTextColor;
  }
  margin-bottom: 1px;
}

#home-container3 {
  background-color: $backgroundColor2;
  background-image: url('https://www.dropbox.com/s/g07fwh73aq9oout/background6.jpg?raw=1');
}

#home-container4, #home-container2, #about-container {
  background-color: $backgroundColor3;
}
