.conum[data-value] {
    color: black !important;
    background-color: white;
    border: 1px solid black;
}
.conum[data-value] * {
    color: black !important;
}

.listingblock > .title {
    background: #282A36;
    color: white;
}

.copy-btn {
    background: #282A36;
    color: white;
    border: 0px;

}

button:hover {
    border: 1px solid darkgray;
}